@import 'ant-design-vue/dist/antd.less';
// @import 'ant-design-vue/dist/antd.dark.less';
// @import 'ant-design-vue/dist/antd.variable.min.css';

// .ant-btn>.ant-btn-loading-icon .anticon,
// .ant-btn>span {
//  display: block!important;
// }

.ant-btn .anticon {
    margin: auto;
}

.ant-form-vertical .ant-form-item-label {
    padding: 0 0 4px!important;
}

.ant-message {
    z-index: 99999;
}

.anticon svg {
    display: block!important;
}

.ant-form-item-has-feedback.ant-form-item-has-warning .ant-form-item-children-icon,
.ant-form-item-has-feedback.ant-form-item-is-validating .ant-form-item-children-icon {
    margin-top: 0;
}

.ant-select-multiple .ant-select-selection-item-remove svg {
    display: block;
}

.ant-form-item-label > label, .ant-input, .ant-input-affix-wrapper, .ant-input-password-icon.anticon {
    @apply text-black;
}
